table{
margin-left: 17em;

}
.table2{
    margin: auto;
}
.text{
    text-align: center;
    width: 50vw;
    margin: auto;
    
}
 .nome{
text-align: center;}

h3{
    margin-top: 3em;
    margin-left: 31em;
}

.tab1{
    border-right: 1px solid black;
    padding-right: 10px;
}
.tab2{
    border-left: 1px solid black;
    padding-left: 10px;
    text-align: center;
}

.link{
    margin-top: 3em;
    text-align: center;
}

